$FONT_SIZE: 24;

* {
    font-family: monospace,'Courier New', Courier;
}

body {
    margin: 0;
    background: white;
    /*
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url(https://hdwallsource.com/img/2014/7/dark-7279-7559-hd-wallpapers.jpg);
    */
}


header {
    height: 80px;
    width: 100%;
    background-color: rgba(34, 36, 43, 0.856);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .logo {
        margin-right: auto;
        margin-left: 60px;
        justify-self: start;
    }
    nav {
        ul{
            list-style-type: none;
            margin-right: 60px;
            padding: 0;
            overflow: hidden;
            display: flex;
            align-content: space-around;
        
            li {
                border-radius: 5px;
                font-size: $FONT_SIZE;
                font-weight: 650;
                height: 60px;
                display: flex;
                align-items: center;

                a{
                    color: rgba(156, 235, 235, 0.74);
                    padding: 18px 16px 18px;
                    text-decoration: none;
                }
            /*
                &:hover{
                    background-color: rgba(37, 152, 206, 0.74);
                    transition: .25s background-color;
            */
                
                
            }
        }
    }
}

#wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#id {
    padding-bottom: 100px;
}

#main {
    height: 100%;
    display:block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width : 60%;
    background-color: rgba(151, 225, 228, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    height: 50px;
    width: 100%;
}

